.post{
	width: 35em;
	background-color: white;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: 0.5em 0.5em 0.5em 0.5em;
	border-radius: 3px; 
}
.content-post{
	margin-bottom: 1em;
}
.owner img{
	height: 3em;
	width: 3em;
	border-radius: 1.5em;
	align-content: center;
	float: left;
}
.name{
	font-weight: bold;
	color: #76A9EA;
}
.owner{
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
}
.info-post{
	margin-left: 0.5em;
}
.time-post, .attention{
	font-size: 0.9em;
	color: #9B9C9E;
	display: flex;
}
.attention{
	margin: 0.5em 0 0.5em 0;
}
.react{
	flex-grow:1;
}
.cmt{
	margin-right: 1em;
}
.fa-heart-check{
	color: red;
}
.inte-post{
	padding: 0.25em 2.5em 0.25em 2.5em;
	cursor: pointer;
	font-weight: bold;
	color: #A1A1A1;
}
.bt-inte{
	display: flex;
	justify-content: space-between;
	border-top: solid 1px #E9EBEE;
	border-bottom: solid 1px #E9EBEE;
	padding: 0.25em 0 0.25em 0;
}
.inte-post:hover{
	background-color: #f6f6f7;
}
textarea{
	border-radius: 0.5em;
}
.content{
	display: flex;
	justify-content: center;
}

.recommand{
	padding: 1em;
	border-radius: 3px;
	background-color: white;
	width: 17em;
	margin-top: 0.5em;
	height: 100%;	
}
.recommand div{
	font-size: 20px;
	font-weight: bold;
}
.info-recommand{
	display: flex;
	align-items: center;
	padding: 0.25em 0 0.5em 0;
	margin: 0.5em 0 0.5em 0;
	border-bottom: solid 1px #E6ECF0; 
}
.info-recommand img{
	margin: 0 0.5em 0 0.5em;
}
.bt-follow{
	font-size: 12px;
	font-weight: bold;
	color: #0093C5;
	line-height: 1em;
	padding: 6px 18px 6px 18px;
	cursor: pointer;
	height: 2.75em;
	border-radius: 1.5em;
	border: solid 1px #0093C5; 
}
.bt-follow:hover{
	background-color: #E5F2F7;
}
.info-recommand div div{
	font-size: 16px;
}
.blue{
	color: #0093C5;
}
.img-post{
	width: 100%;
	max-height: 22em;
}