.logo{
	height: 2em;
	width: 2em;
	border-radius: 1em;
}
.logoApp{
	height: 3em;
	width: 3em;
	border-radius: 1.5em;
}
.header{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
	height: 3em;
	background-color: white;
	padding: 0 7em 0 7em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
}
.search{
	height: 2em;
	border-radius: 1em;
	border: 1px solid #E6ECF0;
	padding: 0.5em;
	flex-grow: 1;
	margin: 0 10em 0 10em;
}
.link{
	color: #66757f;
	cursor: pointer;
	border-bottom: 2px solid white;
	height: 3em;
	line-height: calc(3em - 2px);
	padding: 0 1em 0 1em; 
}
.link:hover{
	color: #76A9EA;
	border-bottom: 2px solid #76A9EA;
	text-decoration: none;
}

.wrap-content{
	display: flex;
	margin: 15px;
}

.tweet-box-avatar{
	width: 30%;
}

.tweet-wrap {
	margin-left: 15px;
}

.tweet-content{
	border-radius: 5px;
	border: 1px solid blue;
}

.image-selector > input {
  display: none;
}

label > i {
	margin-top: 10px;
}

.tool-bar{
	display: flex;
}

.left{
	float: left;
	width: 50%;
}

.right{
	float: right;
	width: 50%;
	text-align: right;
}

.right button{
	float: right;
	background-color: #1DA1F2;
	color: white;
	width: 100px;
	height: 40px;
	margin-left: 20px;
}

.right button:hover{
	background-color: #4AB3F4;
}

.right button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

textarea{
	resize: none;
}

.notify{
	width: 600px;
	height: 100px;
	text-align: center;
	color: #14171a;
    font-size: 14px;
}

.modal{
	border-radius: 6px;
}

select{
	margin-top: 8px;
	height: 30px;
	border-radius: 3px;
	width: 100px;
}